# App
BASE_URL_DEVELOPMENT=http://localhost:3000
BASE_URL_PRODUCTION=<YOUR_BASE_URL_PRODUCTION>

# Auth
USERS_WHITELIST=<YOUR_GITHUB_USERNAME>
GITHUB_TOKEN=<YOUR_GITHUB_TOKEN>
JWT_SECRET=<YOUR_JWT_SECRET>
RESEND_API_KEY=<YOUR_RESEND_API_KEY>

# Clerk
CLERK_SECRET_KEY=<YOUR_CLERK_SECRET_KEY>
CLERK_WEBHOOK_SECRET=<YOUR_CLERK_WEBHOOK_SECRET>
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<YOUR_CLERK_PUBLISHABLE_KEY>
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-in

# Database
DATABASE_URL=<YOUR_DATABASE_URL>
DEVELOPER_EMAIL=<YOUR_DEVELOPER_EMAIL>

# UploadThing
UPLOADTHING_SECRET=<YOUR_UPLOADTHING_SECRET>
UPLOADTHING_APP_ID=<YOUR_UPLOADTHING_APP_ID>

# Vimeo
NEXT_PUBLIC_VIMEO_ACCESS_TOKEN=<YOUR_VIMEO_ACCESS_TOKEN>

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=<YOUR_GOOGLE_MAPS_API_KEY>

# Cron Jobs
CRON_JOB_SECRET=<YOUR_CRON_JOB_SECRET>